{% extends 'usuarios/base.html'  %}

{% block aba %}visualizar notas{% endblock %}

{% block titulo %}visualizar notas{% endblock %}

{% block conteudo %}
<h3>visualização de botas registradas</h3>
<hr>
<form action="{% url 'visualizar' %}" method = 'post'>
    {% csrf_token%}
    <div class="filter">
        <label for="disciplinaName">filtrar por disciplina:</label>
        <select name ="disciplina">  
            <option>todas as disciplinas</option>
            {% for campo in lista_notas %}
            <option >{{ campo.disciplina }}</option>
            {% endfor %}
        </select>
        <button type = 'submit' class = 'btn btn-primary'> filtrar</button>
    </div>
</form>

<div class = 'table-response'> 
    <table class = 'table table-striped'>
        <tr>
            <th>aluno</th>
            <th>disciplina</th>
            <th>nota das atividades</th>
            <th>nota do trabalho</th>
            <th>nota da prova</th>
            <th>media</th>
        </tr>
        {% for campo in lista_notas %}
        <tr>
            <td>{{ user.first_name}}</td>
            <td>{{ campo.disciplinas}}</td>
            <td>{{ campo.nota_atividades}}</td>
            <td>{{ campo.nota_trabalho}}</td>
            <td>{{ campo.nota_prova}}</td>
            <td>{{ campo.media}}</td>
        </tr>
        {% empty%}
        <tr>
            <td colspam = '6'> nenhum registro encontrado</td>
        </tr>
        {% endfor %}
    </table>
</div>
<hr>
{% endblock%}